<div class="container" style="padding-top: 50px">
  <div class="row vertical-center-row">
    <div class="row ">
      <div class="col-xs-3 col-xs-offset-4" style="background:#f5f5f5;color:#000000; border-radius: 4px">
        <h3 class="text-center"><strong>Registrar</strong></h3>
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),
                            :html => {:class => 'form-vertical col-xs-12 col-sm-12 col-md-12 col-lg-12' }) do |f| %>
          <%= f.error_notification %>
          <%= display_base_errors resource %>
          <%= f.input :name,  :type => "text", :placeholder => "Nome", :autofocus => true %>
          <%= f.input :last_name,  :type => "text", :placeholder => "Sobrenome", :autofocus => true %>
          <%= f.input :login, :label =>"Username", :type => "text", :placeholder => "Username", :autofocus => true %>
          <%= f.input :email, :type => "text", :placeholder => "Email", :autofocus => true, :required => true %>
          <%= f.input :phone, :label => "Telefone", :placeholder => "Telefone", :autofocus => true %>
          <%= f.input :password, :input_html => { :size => 20},:type => "password", :placeholder => "Senha", :autofocus => true, :required => true %>
          <%= f.input :password_confirmation, :label => 'Confirmação' ,:input_html => { :size => 20}, :type => "password", :placeholder => "Confirmação", :autofocus => true, :required => true %>
          <%= f.button :submit, 'Registrar', :class => 'btn-primary' %>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>


